.container{
    margin-bottom: 70px;
}

.jumbotron{
    background: none;
}

.orange-bg{
    background-color: #FEEAE9;
    border-radius: 8px;
}

.carousel-item{
    padding: 20px 40px;
}

.price{
    color: #FF136F;
}

.buy-now-button{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
    margin-top: 10px;
}

.buton-cat{
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 6px 15px;
    cursor: pointer;
    margin-top: 10px; 
    font-size: 12px;
}

.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 8px;
}

.cat1{
    background-image: linear-gradient(#FF9C35, #FFD019);
}

.cat2{
    background-image: linear-gradient(orchid,  #F92379);
}

.cat3{
    background-image: linear-gradient(blue, #4289FF);
}


.categories h1{
    color: white;
}

.categories img{
    width: 100px;
}

.card{
    border: none;
    box-shadow: 5px 5px 10px lightgrey;
}

#ContactUs{
    height: 300px;
}

#ContactUs h6{
    color: #707070;
}

footer{
    text-align: center;
    margin-bottom: 20px;
}